/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        l_reset {
            bindings = <&sys_reset>;
            key-positions = <0 1 5>;
        };

        r_reset {
            bindings = <&sys_reset>;
            key-positions = <11 10 6>;
        };

        l_boot {
            bindings = <&bootloader>;
            key-positions = <0 1 17>;
        };

        r_boot {
            bindings = <&bootloader>;
            key-positions = <11 10 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        test_layer {
            bindings = <
&kp D  &kp E         &kp F         &kp G              &kp H         &kp I       &kp I       &kp H         &kp G              &kp F         &kp E         &kp D
&kp C  &bootloader   &sys_reset    &ext_power EP_TOG  &kp F         &bt BT_CLR  &bt BT_CLR  &kp J         &ext_power EP_TOG  &sys_reset    &bootloader   &kp C
&kp B  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3       &bt BT_SEL 4  &bt BT_NXT  &bt BT_NXT  &bt BT_SEL 4  &bt BT_SEL 3       &bt BT_SEL 2  &bt BT_SEL 1  &kp B
                                   &kp A              &kp N1        &kp N2      &kp N3      &kp N4        &kp A
            >;
        };
    };
};
